@import url('https://fonts.nexuspipe.com/css2?family=JetBrains+Mono&display=swap');

.container {
  display: flex;
  align-items: center;
  justify-content: center; /* center horizontally */
  height: 100vh; /* set a height to vertically center */
}

.center {
	text-align: center;
}
	
body {
	font-family: "JetBrains Mono", monospace;
	color: #cad3f5;
	accent-color: #f0c6c6;
	background-color: #1e2030;
}

#bottom-div {
  position: absolute;
  bottom: 0;
	margin-bottom: 7px;
}

#bottom-container {
	position: relative;
	height: 300px;
}

#lyric h3 {
	font-family: "JetBrains Mono", monospace;
	position: absolute;
	bottom: 0;
	color: #24273a;
}
